@import 'tailwindcss' theme(static);

@theme {
  --color-blue: #1d525d;
  --color-blue-50: #f6f8f8;
  --color-blue-100: #e9f0f1;
  --color-blue-200: #d4e4e8;
  --color-blue-300: #b5d7de;
  --color-blue-400: #87c6d4;
  --color-blue-500: #54b5ca;
  --color-blue-600: #3298ae;
  --color-blue-700: #277687;
  --color-blue-800: #1d525d;
  --color-blue-900: #15363d;
  --color-blue-950: #0e2125;


  --font-sans: 'Raleway', sans-serif;
  --font-numbers: 'Fira Sans', sans-serif;

  --radius-3xl: 1.25rem;
}

@import '@nuxt/ui';

/* Making elements with titles work for touchscreen, keyboard, and mouse
  apply relative position to the element the tooltip should align with

  https://bitsofco.de/making-abbr-work-for-touchscreen-keyboard-mouse/
  https://www.geeksforgeeks.org/how-to-detect-touch-screen-device-using-css/ */
@media (pointer: coarse) {
  *[title]::after {
    @apply pointer-events-none absolute -top-6 left-1/2 z-20 rounded-xl bg-neutral-900/80 px-4 py-2 text-sm whitespace-nowrap text-white opacity-0 shadow transition-all;
    content: attr(title);
    transform: translate(-50%, -25%);
  }
  *[title]:focus::after {
    @apply pointer-events-auto opacity-100;
    transform: translate(-50%, 0);
  }
}

@keyframes swipe {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  20% {
    opacity: 1;
  }

  70%,
  100% {
    transform: translateX(-100px);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Slider */

.slider {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.shape-outside {
  shape-outside: inset(calc(100% - var(--spacing) * 14) 0 0);
}
